In [1]:
import pandas as pd
import numpy as np

In [2]:
ticker_df = pd.read_csv(r"C:\Users\HO_YONG_KIAN\Desktop\Python\Data Science for Python, Machine and Deep Learning\Financial_Report\cik_ticker.csv", sep='|')

ticker_df.head()

,CIK,Ticker,Name,Exchange,SIC,Business,Incorporated,IRS
0,1090872,A,Agilent Technologies Inc,NYSE,3825.0,CA,DE,770518772.0
1,4281,AA,Alcoa Inc,NYSE,3350.0,PA,PA,250317820.0
2,1332552,AAACU,Asia Automotive Acquisition Corp,NaN,6770.0,DE,DE,203022522.0
3,1287145,AABB,Asia Broadband Inc,OTC,8200.0,GA,NV,721569126.0
4,1024015,AABC,Access Anytime Bancorp Inc,NaN,6035.0,NM,DE,850444597.0

In [3]:
len(ticker_df)

13737

In [4]:
text_df = pd.read_csv(r"df_with_formtext.csv", index_col=0)

text_df.head()

,companyName,CIK,filedDate,url,realfiledDate,form_text
0,"Avangard Capital Group, Inc",1561092,2014-01-03,/Archives/edgar/data/1561092/00014931521400000...,2014-01-03,\n\n \n\n \n \nUNITED\nSTATES\nSECURITIES\nA...
1,"Avangard Capital Group, Inc",1561092,2014-07-25,/Archives/edgar/data/1561092/00014931521400228...,2014-07-25,\n\n \n\n \n \nUNITED\nSTATES\nSECURITIES\nA...
2,"Avangard Capital Group, Inc",1561092,2014-01-03,/Archives/edgar/data/1561092/00014931521400000...,2014-01-03,\n\n \n\n \n \nUNITED\nSTATES\nSECURITIES\nA...
3,"Avangard Capital Group, Inc",1561092,2014-07-25,/Archives/edgar/data/1561092/00014931521400228...,2014-07-25,\n\n \n\n \n \nUNITED\nSTATES\nSECURITIES\nA...
4,"Avangard Capital Group, Inc",1561092,2014-07-25,/Archives/edgar/data/1561092/00014931521400228...,2014-07-25,\n\n \n\n \n \nUNITED\nSTATES\nSECURITIES\nA...

In [5]:
len(text_df)

355812

In [0]:
combined = pd.merge(text_df, ticker_df, on = 'CIK')

combined.head()

               companyName      CIK  ... Incorporated          IRS
0  NewStar Financial, Inc.  1373561  ...          NaN  542157878.0
1  NewStar Financial, Inc.  1373561  ...          NaN  542157878.0
2  NewStar Financial, Inc.  1373561  ...          NaN  542157878.0
3  NewStar Financial, Inc.  1373561  ...          NaN  542157878.0
4  NewStar Financial, Inc.  1373561  ...          NaN  542157878.0

[5 rows x 13 columns]

In [0]:
len(combined)

301748

In [0]:
combined.isnull().sum()

companyName          0
CIK                  0
filedDate            0
url                  0
realfiledDate        0
form_text            0
Ticker               0
Name                 0
Exchange          6713
SIC                  0
Business          3612
Incorporated     20058
IRS              24424
dtype: int64

In [0]:
combined['companyName'].value_counts()

OCWEN FINANCIAL CORP                         3106
Nationstar Mortgage Holdings Inc.            2202
PSM HOLDINGS INC                             1834
PREMIER FINANCIAL BANCORP INC                1640
TWO RIVER BANCORP                            1640
CULLEN/FROST BANKERS, INC.                   1640
FNCB Bancorp, Inc.                           1640
AMERISERV FINANCIAL INC /PA/                 1640
Oak Valley Bancorp                           1640
MBT FINANCIAL CORP                           1640
CONSUMER PORTFOLIO SERVICES INC              1640
SOUTHWEST GEORGIA FINANCIAL CORP             1640
UNION BANKSHARES INC                         1640
AMES NATIONAL CORP                           1640
CAPITAL CITY BANK GROUP INC                  1640
CITIZENS FINANCIAL SERVICES INC              1599
Oritani Financial Corp                       1599
NMI Holdings, Inc.                           1599
MARSH & MCLENNAN COMPANIES, INC.             1599
KINGSTONE COMPANIES, INC.                    1599
Southern National Bancorp of Virginia Inc    1599
1ST SOURCE CORP                              1577
SIMMONS FIRST NATIONAL CORP                  1576
UNITED SECURITY BANCSHARES                   1560
FIRST COMMONWEALTH FINANCIAL CORP /PA/       1558
Park Sterling Corp                           1558
PARKE BANCORP, INC.                          1558
UNICO AMERICAN CORP                          1558
PEOPLES FINANCIAL CORP /MS/                  1558
Stock Yards Bancorp, Inc.                    1558
                                             ...
FEDERATED NATIONAL HOLDING CO                  41
SOUTHWEST BANCORP INC                          41
Fidelity National Financial, Inc.              41
C & F FINANCIAL CORP                           41
Fortegra Financial Corp                        41
CAPITOL BANCORP LTD                            41
UNITY BANCORP INC /NJ/                         41
FEDNAT HOLDING Co                              41
MB FINANCIAL INC /MD                           41
FIRST MARINER BANCORP                          41
RLI CORP                                       41
MONTPELIER RE HOLDINGS LTD                     41
FedNat Holding Co                              41
S&T BANCORP INC                                41
Standard Financial Corp.                       41
CENTRUE FINANCIAL CORP                         41
SOUTH STATE Corp                               41
CenterState Bank Corp                          41
AMERICAN INDEPENDENCE CORP                     40
ASPEN INSURANCE HOLDINGS LTD                   40
NATIONAL SECURITY GROUP INC                    40
ACE Ltd                                        40
CINCINNATI FINANCIAL CORP                      39
AFFIRMATIVE INSURANCE HOLDINGS INC             39
REGIONS FINANCIAL CORP                         39
METLIFE INC                                    38
WASHINGTON FEDERAL INC                         36
Northwest Bancshares, Inc.                     36
MONARCH COMMUNITY BANCORP INC                  35
CNK Global Inc.                                11
Name: companyName, Length: 395, dtype: int64